
<header class="sticky-top">
    <div class="row">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex d-flex justify-content-start">
                    <a class="navbar-brand" asp-area="" asp-controller="CMS" asp-action="CMSMain">
                        <span class="LogoMargo">Margo <sub>Jewelery</sub></span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav d-flex w-100 justify-content-center Nav__first__layout--theme">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Товари</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="CategoryCMS">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Користувачі</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Замовлення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Аналітика</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav d-flex w-100 justify-content-end">                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_blank" href="https://www.instagram.com/margojewellery?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-person-bounding-box"></i>
                            </a>
                        </li>                                         
                    </ul>
                </div>
            </div>
        </nav>
</header>
