#Catalog .BreadCrumb nav .breadcrumb li a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
#Catalog .BreadCrumb nav .breadcrumb li a:hover {
  opacity: 0.8;
  transition-delay: 25ms;
  transition-property: opacity;
}
#Catalog .BreadCrumb nav .breadcrumb li[active] {
  text-decoration: none;
  color: black;
  opacity: 1;
}
#Catalog .Main .MainLabel {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#Catalog .Main .MainLabel .Ordering form select {
  border: none;
  opacity: 0.5;
}
#Catalog .Main .MainLabel .Ordering form select:focus-visible {
  outline: none;
}
#Catalog .Main .MainBody {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
}
#Catalog .Main .MainBody .Fillters {
  width: 10vw;
  margin-right: 0.5vw;
}
#Catalog .Main .MainBody .Fillters form .submitFillters {
  display: none;
}
#Catalog .Main .MainBody .Products {
  padding: 5%;
  width: 90vw;
}
#Catalog .Main .MainBody .Products .Product {
  position: relative;
  height: 575px;
  width: calc(33% - 5px);
}
#Catalog .Main .MainBody .Products .Product:hover .MainProductRef .ProductImage .ProductImageOne {
  visibility: hidden;
  opacity: 0;
  transition: all 2s ease-out;
}
#Catalog .Main .MainBody .Products .Product:hover .MainProductRef .ProductImage .ProductImageTwo {
  visibility: visible;
  opacity: 1;
  transition: all 2s ease-out;
}
#Catalog .Main .MainBody .Products .Product .wish_list_button img {
  z-index: 3;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  float: right;
  filter: grayscale(60%);
}
#Catalog .Main .MainBody .Products .Product .wish_list_button img:hover {
  filter: grayscale(0%);
}
#Catalog .Main .MainBody .Products .Product .MainProductRef {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage {
  position: relative;
  width: 100%;
  height: 475px;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage .ProductWithOneImage {
  width: 100%;
  height: 100%;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage .ProductImageOne {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 475px;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage .ProductImageOne img {
  width: 100%;
  height: 475px;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage .ProductImageTwo {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 475px;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductImage .ProductImageTwo img {
  width: 100%;
  height: 475px;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductName {
  opacity: 0.5;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductPrice {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductPrice .PricePromotion {
  margin-right: 20%;
  text-decoration-line: line-through;
}
#Catalog .Main .MainBody .Products .Product .MainProductRef .ProductPrice .Promotion {
  color: red;
}
