.UserCSMContainer .UserFilter #UserForm {
  margin-bottom: 4vh;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .InputSearchContainer {
  margin-bottom: 1vh;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .InputSearchContainer .InputWithButtonSearchContainer {
  border: solid 1px black;
  display: inline-block;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .InputSearchContainer .InputWithButtonSearchContainer .submitButton {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .InputSearchContainer .InputWithButtonSearchContainer #SearchInput {
  border: none;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .InputSearchContainer .InputWithButtonSearchContainer #SearchInput:focus-visible {
  outline: none;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .SearchContainer .SearchFilterContainers {
  display: flex;
  padding: 1vh 1vw;
  padding-left: 0;
  max-width: 30vw;
  justify-content: space-between;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .OrderFiltersContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1vh 1vw;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .OrderFiltersContainer .WithOrderFiltersContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 1vw;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .OrderFiltersContainer .WithOrderFiltersContainer .CheackBoxContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .OrderFiltersContainer .WithUnCloseFiltersContainer {
  display: flex;
  justify-content: space-between;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .OrderFiltersContainer .WithUnCloseFiltersContainer .CheackBoxContainer {
  margin-right: 1vw;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .CartFiltersContainer {
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.UserCSMContainer .UserFilter #UserForm .UserFilterFormContainer .FilterContainer .CartFiltersContainer .CheackBoxContainer {
  margin-right: 1vw;
}
.UserCSMContainer .UserFilter #UserForm .SubmutButton {
  background-color: greenyellow;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 700;
  border-radius: 1500px;
  padding: 1vh 3vh;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserCardAndFavoriteList .UserCardAndFavoriteListModals .cartModal .modal .modal-dialog .modal-content .modal-body .cartItem {
  display: grid;
  grid-template-columns: 3vh 12vw auto;
  align-items: center;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserCardAndFavoriteList .UserCardAndFavoriteListModals .cartModal .modal .modal-dialog .modal-content .modal-body .cartItem .CartItemPhotoContainer .CartItemPhoto {
  height: 10vw;
  width: 10vw;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .ViewAllOrderForCurrentUser {
  margin: 1vh 0;
  text-decoration: none;
  color: black;
  padding: 2vh 2vh;
  background-color: greenyellow;
  display: inline-block;
  border-radius: 5px;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .OrderButtons .ViewOrderDetailsButton {
  margin: 1vh 0;
  text-decoration: none;
  color: black;
  padding: 2vh 2vh;
  background-color: dodgerblue;
  display: inline-block;
  border-radius: 5px;
  color: white;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .OrderButtons .ViewOrderDetailsButton:hover {
  background-color: blue;
  transition: background-color 0.2s;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .ItemlList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .ItemlList .ItemlLi {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 4vh;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .ItemlList .ItemlLi::before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: 0;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .ItemlList .ItemlLi .OrderItemLink {
  display: grid;
  grid-template-columns: 20vh auto;
  gap: 1vw;
  text-decoration: none;
  color: black;
  font-size: 3vh;
}
.UserCSMContainer .UserListContainer .accordion .accordion-collapse .accordion-body .UserOrderContainerForOrderContainer .accordion .OrdersAcordionContainer .accordion-item .accordion-collapse .accordion-body .ItemlList .ItemlLi .OrderItemLink .ItemTablePhoto {
  height: 20vh;
  width: 20vh;
}
