.HomeContainer .top__image__container {
  width: 100%;
  background-image: url("../image/Constant/MainPhoto.png");
  background-size: cover;
  height: 82vh;
  font-family: "Playfair Display SC", serif;
}
.HomeContainer .top__image__container a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.HomeContainer .top__image__container a:visited {
  color: white;
}
.HomeContainer .top__image__container a .top__image__strings {
  position: absolute;
  left: 5%;
  top: 50%;
  white-space: nowrap;
}
.HomeContainer .top__image__container a .top__image__button {
  opacity: 0.95;
  height: 75px;
  position: absolute;
  color: white;
  bottom: 0px;
  right: -120px;
  width: 200px;
  white-space: nowrap;
  overflow: clip;
  background-color: black;
  border-radius: 25px 0px 0px 0px;
}
.HomeContainer .top__image__container a .top__image__button:hover {
  right: 0px;
  transition: right 1s;
}
.HomeContainer .TopProductSection {
  margin-top: 5vh;
  padding: 0vh 3vw;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel {
  width: 33%;
  height: 80vh;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel:hover a .TopOfProduct .FirstImage {
  opacity: 0;
  transition: opacity 1s;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel:hover a .TopOfProduct .SecondImage {
  opacity: 1;
  transition: opacity 1s;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a:visited {
  color: black;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct {
  height: 80vh;
  position: relative;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .SinglePhoto {
  position: absolute;
  height: 100%;
  width: 100%;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .SinglePhoto img {
  height: 100%;
  width: 100%;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .FirstImage {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .FirstImage img {
  height: 100%;
  width: 100%;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .SecondImage {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .SecondImage img {
  height: 100%;
  width: 100%;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .AddTofavorite {
  position: absolute;
  right: 3%;
  top: 3%;
  z-index: 2;
}
.HomeContainer .TopProductSection .PopularProductCarousel .Carusel .ProductInCarusel a .TopOfProduct .AddTofavorite img {
  height: 5vh;
  width: 5vw;
}
.HomeContainer .TopProductSection .TopProductSectionViewAllButton {
  display: flex;
  justify-content: center;
}
.HomeContainer .TopProductSection .TopProductSectionViewAllButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 24px;
  border-radius: 0px;
}
.HomeContainer .TopProductSection .TopProductSectionViewAllButton a:hover {
  background-color: #A98D74;
}
.HomeContainer .CategoryMainPageSection {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem {
  height: 70vh;
  width: 100%;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem:hover a img {
  transform: scale(1.03);
  transition: transform 1s;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem a {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  overflow: clip;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem a:visited {
  color: black;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem a img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem a div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  width: 100%;
  padding: 0px 16px;
}
.HomeContainer .CategoryMainPageSection .CategoryGridItem a div span {
  font-family: "Great Vibes", cursive;
  font-size: 32px;
  color: white;
  font-weight: 600;
}
.HomeContainer .OurHistorySection {
  display: flex;
  justify-content: space-between;
  margin-top: 25vh;
  padding: 0px 3vw;
  align-content: baseline;
}
.HomeContainer .OurHistorySection .AboutBrendText {
  width: 40vw;
  height: 100%;
}
.HomeContainer .OurHistorySection .AboutBrendText div {
  margin-bottom: 15vh;
  padding: 0px 3vw;
}
.HomeContainer .OurHistorySection .AboutBrendText div p {
  font-size: 18px;
  margin-top: 5vh;
}
.HomeContainer .OurHistorySection .AboutBrendText div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 24px;
  border-radius: 0px;
}
.HomeContainer .OurHistorySection .AboutBrendText div a:hover {
  background-color: #A98D74;
}
.HomeContainer .OurHistorySection .AboutBrendImage {
  width: 60vw;
}
.HomeContainer .OurHistorySection .AboutBrendImage img {
  width: 50vw;
}
.HomeContainer .VideoSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeContainer .VideoSection p {
  font-size: 32px;
}
.HomeContainer .FaqSection .FaqContainer {
  display: flex;
  justify-content: center;
}
.HomeContainer .FaqSection .accordion {
  width: 70%;
}
.HomeContainer .FaqSection .accordion .accordion-item div {
  padding: 20px;
}
.HomeContainer .FeedbackSection {
  margin-top: 5vh;
  background-color: #F7F4F2;
  padding: 10vh 0vw;
  font-family: "Montserrat", sans-serif;
}
.HomeContainer .FeedbackSection .FeedbackText {
  padding: 0 5vw;
}
.HomeContainer .FeedbackSection .FeedbackText .FeedBackLabel {
  display: flex;
}
.HomeContainer .FeedbackSection .FeedbackText .FeedBackParagraf {
  width: 30%;
}
.HomeContainer .FeedbackSection .FashionCarousel {
  padding-left: 5vw;
  margin-top: 5%;
}
.HomeContainer .FeedbackSection .FashionCarousel .CaruselFashion {
  overflow: hidden;
}
.HomeContainer .FeedbackSection .FashionCarousel .CaruselFashion .slick-slide {
  display: inline-block;
  margin: 0% 0.1%;
  height: 400px;
  width: 100px;
  background-color: brown;
}
.HomeContainer .FeedbackSection .FashionCarousel .CaruselFashion .slick-slide .FashionImageContainer {
  height: 400px;
  width: 100px;
}
.HomeContainer .FeedbackSection .FashionCarousel .CaruselFashion .FashionItem {
  margin-right: 1vw;
  height: 60vh;
  border-radius: 10px;
}
.HomeContainer .FeedbackSection .FeedBaclButton {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
.HomeContainer .FeedbackSection .FeedBaclButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10vh;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 24px;
  border-radius: 0px;
}
.HomeContainer .FeedbackSection .FeedBaclButton a:hover {
  background-color: #A98D74;
}
