.CMSTable {
    font-family: Arial;
    margin: 10px 0px;

}

.CMSTable thead {
    background: #5D8AA8;
    color: white;
    
}

.CMSTable thead tr th {
    border: 1px solid black;
    text-align:center;
}

.CMSTable tbody tr td {
    border: 1px solid black;
    text-align:center;
}

.CMSTable tbody tr td a {
    color: #787b76;
    font-weight: 900;

}
.CMSTable tbody tr td a:hover {
    color: black;
    text-decoration: none;


}


.CSMDeleteBtn {
    background-color: #b22222;
    color: black !important;
}

.CSMEditBtn {
    background-color: #ffba00;
    color: black !important;
}

.CSMDeleteBtn:hover {
    background-color: red;
    
}

.CSMEditBtn:hover {
    background-color: yellow;
    color: black;
}


.CSMDeleteBtn img {
    width: 10px;
    height: 10px;
}
.CSMEditBtn img {
    width: 10px;
    height: 10px;
}

.SubCategoryBackCSM {
    width: 20px;
    height: 20px;
}
