@using Jewelery.ViewModels.DTO.Review;
@model List<FAQVMDTO>


<div class="FaqContainer">
    <div class="accordion" id="accordionFaq">   
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="false" aria-controls="collapse_@item.Id">
                        @item.Question
                    </button>
                </h2>
                <div id="collapse_@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                    <span>@item.Answer</span>
                </div>
            </div>
        }                
    </div>
</div>

