<link rel="stylesheet" type="text/css" href="~/scss/CMSMenu.css" />


<aside class="LeftBar">
    <nav>
        <ul class="ListLink">
            <li>
                <a class="ExitButton" asp-controller="Product" asp-action="Product">
                    <img src="~/SVG/jewelry-store-luxury-goods-expensive-item-svgrepo-com.svg" alt="SVG Image">
                    <span>Товари</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="Category" asp-action="Category">
                    <img src="~/SVG/category-svgrepo-com.svg" alt="SVG Image">
                    <span>Категорії</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="User" asp-action="UserList">
                    <img src="~/SVG/users-group-svgrepo-com.svg" alt="SVG Image">
                    <span>Користувачі</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="OrderManagment" asp-action="Index">
                    <img src="~/SVG/delivery-cart-svgrepo-com.svg" alt="SVG Image">
                    <span>Замовлення</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="" asp-action="">
                    <img src="~/SVG/analytics-graph-chart-svgrepo-com.svg" alt="SVG Image">
                    <span>Аналітика</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="Review" asp-action="Fashion">
                    <img src="~/SVG/dressing-room-women-svgrepo-com.svg alt="SVG Image">
                    <span>Fashion</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="Review" asp-action="FAQ">
                    <img src="~/SVG/faq-help-mark-svgrepo-com.svg" alt="SVG Image">
                    <span>FAQ</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="ThirdParty" asp-action="NovaPost">
                    <img src="~/SVG/post-svgrepo-com.svg" alt="SVG Image">
                    <span>Нова Пошта</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="ThirdParty" asp-action="MonoPay">
                    <img src="~/SVG/bank-svgrepo-com.svg alt="SVG Image">
                    <span>Моно Банк</span>
                </a>
            </li>
            <li>
                <a class="ExitButton" asp-controller="DetermineTheSize" asp-action="DetermineTheSizeCMS">
                    <img src="~/SVG/bank-svgrepo-com.svg alt="SVG Image">
                    <span>Вибрати ромір</span>
                </a>
            </li>
        </ul>

        <a class="ExitButton" asp-controller="" asp-action="">
            <img src="~/SVG/back-return-svgrepo-com.svg" alt="SVG Image">
            <span>Назад</span>
        </a>
    </nav>
</aside>
