@{
    ViewData["Title"] = "Home Page";
    //ViewBag.Title = ResourceHelper.GetString("str0002");
}

<div class="container-fluid m-0 p-0">
    <h1>MOBILE VERSION</h1>


    <div class="top__image__container">
        <p class="top__image__container">MOBILE VERSIO</p>
        <p class="top__image__container">Авторські прикраси</p>
        <a>Go see</a>
    </div>
    <div class="Carusel__wraper">
        <label for="carosel">Carusel</label>
        <div class="Carusel" id="carosel">
            <div>Item1</div>
            <div>Item2</div>
            <div>Item3</div>
            <div>Item4</div>
            <div>Item5</div>
            <div>Item6</div>
        </div>
    </div>

    
</div>

@section Scripts {
    


}
