@model Jewelery.Models.Product_model.Atribute

@{
    Layout = "~/Views/Shared/_LayoutCSM.cshtml";
}


<div class="d-flex justify-content-center">
    <label for="upsertform">
        @if (Model.Atribute_id == 0)
        {
            <span>Створити Атрибут</span>
        }
        else
        {
            <span>Редагувати Атрибут</span>
        }
    </label>
    
    <form id="upsertform" method="post">
       
        <div>
            <input type="hidden" placeholder="Ід категорії" asp-for="Atribute_id" />
            <span asp-validation-for="Atribute_id"></span>
        </div>
        <div>
            <input type="text" placeholder="Назва категорії" asp-for="Atribute_name" />
            <span asp-validation-for="Atribute_name"></span>
        </div>
        <div>
            <button type="submit">
                @if (Model.Atribute_id == 0)
                {
                    <span>Створити</span>
                }
                else
                {
                    <span>Редагувати</span>
                }
            </button>
        </div>
    </form>
</div>